* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100vh;
  overflow: hidden; /* prevent scrolling */
  background: #f8fbff;
}

/* ------- NAVBAR ------- */

header {
  width: 100%;
  height: 12vh;
  background: #f0f7ff;
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3vw;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.username-btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  background: #e3f2ff;
  color: #006eff;
  font-weight: 600;
  cursor: pointer;
}

/* ------- HERO SECTION ------- */

.hero {
  height: 88vh;
  padding: 0 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  width: 45%;
}

.hero-text h1 {
  font-size: 2.8vw;
  color: #1f2b3e;
  line-height: 1.3;
}

.hero-text span {
  color: #0084ff;
}

.hero-text p {
  margin-top: 2vh;
  color: #555;
  width: 80%;
  font-size: 1.1vw;
}

.cta-btn {
  margin-top: 4vh;
  padding: 1rem 2.5rem;
  background: #0084ff;
  color: white;
  font-size: 1.1vw;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}

.hero-img img {
  width: 33vw;
  max-height: 70vh;
  object-fit: contain;
}
